body {
    background-color: #f0f8ff; 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;

}
.sidebar {
    position: fixed; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 200px; 
    background-color: #333; 
}

.sidebar ul {
    list-style-type: none; 
    padding: 0; 
}


.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: #fff; 
    text-decoration: none; 
}

.sidebar ul li a:hover {
    background-color: #555; 
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

p {
    margin: 10px 0;
}

strong {
    font-weight: bold;
    margin-right: 5px;
}

.data-seller {
    margin-bottom: 20px;
}

.form{
    visibility: hidden;
}

.form-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.form-container.visible {
    visibility: visible;
    opacity: 1;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#backButton {
    margin-top: 20px;
    background-color: #f44336;
}

#backButton:hover {
    background-color: #d32f2f;
}