body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.sidebar {
    position: fixed; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 200px; 
    background-color: #333; 
}

.sidebar ul {
    list-style-type: none; 
    padding: 0; 
}


.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: #fff; 
    text-decoration: none; 
}

.sidebar ul li a:hover {
    background-color: #555; 
}


.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#cliente-info {
    margin-top: 20px;
}

p {
    margin: 10px 0;
}

strong {
    font-weight: bold;
    margin-right: 5px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#backButton {
    margin-top: 20px;
    background-color: #f44336;
}

#backButton:hover {
    background-color: #d32f2f;
}
