body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}


.sidebar {
    position: fixed; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 200px; 
    background-color: #333; 
}

.sidebar ul {
    list-style-type: none; 
    padding: 0; 
}


.sidebar ul li {
    padding: 10px;
}

.sidebar ul li a {
    color: #fff; 
    text-decoration: none; 
}

.sidebar ul li a:hover {
    background-color: #555; 
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px; 
}

.viaje {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.viaje h3 {
    margin-top: 0;
}

.viaje p {
    font-size: 16px;
}

.contact-seller {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-seller:hover {
    text-decoration: underline; 
}

.contact-seller:active {
    background-color: #f0f0f0; 
}

