.menu {
    background-color: #333; /* Color de fondo del menú */
    padding: 10px 0; /* Espacio alrededor del menú */
    font-size: large;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu ul li {
    display: inline-block;
    position: relative;
}

.menu ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #7b91ebb3;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 200px;
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu li a {
    padding: 20px;
    display: block;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.menu ul li:hover .dropdown-menu {
    display: block;
}


body {
    background-color: #f0f8ff; /* Color de fondo azul claro */
    font-family: Arial, sans-serif; /* Fuente predeterminada */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px; /* Ancho máximo del contenido */
    margin: auto; /* Centrar contenido horizontalmente */
    padding: 10px; /* Espaciado alrededor del contenido */
}

.viajes {
    background-color: #fff; /* Color de fondo blanco */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    overflow-y: auto; /* Habilitar desplazamiento vertical si es necesario */
    max-height: 400px; /* Altura máxima */
}

.viaje {
    margin-bottom: 20px; /* Espacio entre elementos */
    border: 1px solid #ddd; /* Borde sólido gris claro */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
}
p{
    font-size: 18px;
}
.image-container {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

.image-section {
    position: relative;
    display: inline-block;
}

.image-text {
    font-weight: bold;
    position: absolute;
    bottom: 250px;
    background-color: rgba(123, 145, 235, 0.700);
    color: #000;
    padding: 20px 20px;
    border-radius: 10px;
    max-width: 30%;
    height: 153px;
    transform: translateX(-50%);
    left: 30%;
}
.image-text2 {
    font-weight: bold;
    position: absolute;
    bottom: 250px;
    background-color: rgba(123, 145, 235, 0.700);;
    color: #000;
    padding: 20px 20px;
    border-radius: 10px;
    max-width: 30%;
    transform: translateX(-50%);
    left: 70%;
}

.img-tracto {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 100%;  
}





