.menu {
    background-color: #333; /* Color de fondo del menú */
    padding: 10px 0; /* Espacio alrededor del menú */
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu ul li {
    display: inline-block;
    position: relative;
}

.menu ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #7b91ebb3;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 200px;
}

.dropdown-menu li {
    display: block;
}

.dropdown-menu li a {
    padding: 20px;
    display: block;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.menu ul li:hover .dropdown-menu {
    display: block;
}

body {
    background-color: #f0f8ff; /* Color de fondo azul claro */
    font-family: Arial, sans-serif; /* Fuente predeterminada */
    margin: 0;
    padding: 0;
}


/* Estilos para el contenedor de los campos de entrada */
.container {
    max-width: 400px; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Margen automático para centrar el contenedor */
    padding: 20px; /* Espaciado alrededor del contenedor */
    background-color: #f9f9f9; /* Color de fondo gris claro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Centrar contenido */
}

/* Estilos para los campos de entrada y etiquetas */
label {
    display: block; /* Hacer que las etiquetas sean bloques */
    margin-bottom: 5px; /* Espacio inferior entre etiquetas */
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="number"] {
    width: calc(100% - 20px); /* Ancho completo menos 20px de margen en cada lado */
    padding: 10px; /* Espaciado dentro del campo de entrada */
    margin-bottom: 10px; /* Espacio inferior entre campos de entrada */
    border: 1px solid #ccc; /* Borde sólido gris claro */
    border-radius: 5px; /* Bordes redondeados */
    box-sizing: border-box; /* Incluir el borde en el cálculo del tamaño */
}

/* Estilos para el campo de selección (dropdown) */
select {
    width: calc(100% - 20px); /* Ancho completo menos 20px de margen en cada lado */
    padding: 10px; /* Espaciado dentro del campo de selección */
    margin-bottom: 10px; /* Espacio inferior entre campos de selección */
    border: 1px solid #ccc; /* Borde sólido gris claro */
    border-radius: 5px; /* Bordes redondeados */
    box-sizing: border-box; /* Incluir el borde en el cálculo del tamaño */
    background-color: #fff; /* Color de fondo blanco */
    color: #333; /* Color de texto gris oscuro */
}

/* Estilos adicionales para el encabezado */
header {
    background-color: #f9f9f9; /* Color de fondo gris claro */
    color: #000; /* Color de texto negro */
    padding: 20px 0; /* Espaciado alrededor del encabezado */
    border-radius: 10px 10px 0 0; /* Bordes redondeados solo en la parte superior */
    font-size: x-large; /* Tamaño de la fuente */
    font-weight: bold; /* Fuente en negritas */
}

/* Estilo para el botón de inicio de sesión */
#login-btn {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado dentro del botón */
    background-color: #1e90ff; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero al pasar el ratón */
}

#login-btn:hover {
    background-color: #007bff; /* Color de fondo azul más oscuro al pasar el ratón */
}

