.menu {
    background-color: #333; /* Color de fondo del menú */
    padding: 10px 0; /* Espacio alrededor del menú */
}

.menu ul {
    list-style-type: none; /* Quitamos los puntos de la lista */
    margin: 0;
    padding: 0;
    text-align: center; /* Centramos los elementos de la lista */
}

.menu ul li {
    display: inline; /* Mostramos los elementos de la lista en línea */
    margin-right: 20px; /* Espacio entre los elementos de la lista */
}

.menu ul li a {
    color: #fff; /* Color del texto del enlace */
    text-decoration: none; /* Quitamos la subrayado del enlace */
    padding: 5px 10px; /* Espacio alrededor del texto del enlace */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Efecto de transición para el cambio de color de fondo */
}

.menu ul li a:hover {
    background-color: #555; /* Color de fondo al pasar el cursor sobre el enlace */
}

body {
    background-color: #f0f8ff; /* Color de fondo azul claro */
    font-family: Arial, sans-serif; /* Fuente predeterminada */
    margin: 0;
    padding: 0;
}


/* Estilos para el contenedor de los campos de entrada */
.container {
    max-width: 400px; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Margen automático para centrar el contenedor */
    padding: 20px; /* Espaciado alrededor del contenedor */
    background-color: #f9f9f9; /* Color de fondo gris claro */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Centrar contenido */
}

/* Estilos para los campos de entrada y etiquetas */
label {
    display: block; /* Hacer que las etiquetas sean bloques */
    margin-bottom: 5px; /* Espacio inferior entre etiquetas */
}

input[type="text"], input[type="password"] {
    width: calc(100% - 20px); /* Ancho completo menos 20px de margen en cada lado */
    padding: 10px; /* Espaciado dentro del campo de entrada */
    margin-bottom: 10px; /* Espacio inferior entre campos de entrada */
    border: 1px solid #ccc; /* Borde sólido gris claro */
    border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para el encabezado */
header {
    background-color: #f9f9f9; /* Color de fondo gris claro */
    color: #000; /* Color de texto negro */
    padding: 20px 0; /* Espaciado alrededor del encabezado */
    border-radius: 10px 10px 0 0; /* Bordes redondeados solo en la parte superior */
    font-size: x-large; /*Tamaño de la fuente*/
    font-weight: bold; /*Fuente en negritas*/
}

/* Estilo para el botón de inicio de sesión */
#login-btn {
    width: 100%; /* Ancho completo */
    padding: 10px; /* Espaciado dentro del botón */
    background-color: #1e90ff; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de puntero al pasar el ratón */
}

#login-btn:hover {
    background-color: #007bff; /* Color de fondo azul más oscuro al pasar el ratón */
}